<div class='row col-md-12'>
  <div id='about' class='well'>
    <div class='row text-center'>
      <img id='face' class='col-md-3 col-sm-3' src='/face.jpg'>
      <h2 class='col-md-offset-1 col-md-6'>
        Matthew Costabile
      </h2>
      <h4 class='col-md-offset-1 col-md-6'>
        Full-Stack Web Developer
      </h4>
      <p class='col-md-offset-1 col-md-6'>
       Hi, my name is Matthew and my face is over to the left (or above if you're on a smaller screen). I'm a developer, who really enjoys winding between the frontend and backend, learning new frameworks, and finding solutions to challenging problems, without losing focus on the product as a whole. <br>
       When I'm not coding, I'm often stuffing clothes and cameras into a backpack, and filling up passport books. I've been around the world twice, and have barely dented my destination list, or nose deep in a book (or my e-reader, if I need to be more mobile...but man, do I miss the feel and smell of pages).
      </p>
    </div>
    <div class='row'>
      <h3 class='text-center'>Skills</h3>
    </div>
    <div class='row skillList'>
      <ul class='col-md-4 col-sm-4 col-xs-4 text-center'>
        <h4>Backend Technologies&nbsp;</h4>
        <li>Ruby</li>
        <li>Sinatra</li>
        <li>Ruby-on-Rails</li>
        <li>SQLite3</li>
        <li>PostgreSQL</li>
        <li>ActiveRecord</li>
      </ul>
      <ul class='col-md-4 col-sm-4 col-xs-4 text-center'>
        <h4>Frontend Technologies</h4>
        <li>HTML 5</li>
        <li>CSS 3</li>
        <li>SCSS</li>
        <li>Javascript</li>
        <li>jQuery</li>
        <li>AngularJS</li>
        <li>AJAX</li>
        <li>Bootstrap</li>
      </ul>
      <ul class='col-md-4 col-sm-4 col-xs-4 text-center'>
        <h4>Other Technologies</h4>
        <li>Git</li>
        <li>GitHub</li>
        <li>Twilio</li>
        <li>Google Maps</li>
        <li>Vim</li>
        <li>Sublime</li>
        <li>Photoshop</li>
        <li>Capture One</li>
      </ul>
    </div>
    <div class='text-center row'>
      <a href='/resume' target="_blank">View My Resume!</a>
    </div>
  </div>
</div>