<div class='row col-md-12'>
  <div id='about' class='well'>
    <div class='row text-center'>
      <img id='face' class='col-md-3 col-sm-3' src='/face.jpg'>
      <h2 class='col-md-offset-1 col-md-6'>
        Matthew Costabile
      </h2>
      <h4 class='col-md-offset-1 col-md-6'>
        Full-Stack Web Developer
      </h4>
      <p class='col-md-offset-1 col-md-6'>
        I'm currently studying in the Web Development Intensive at <a href='http://nycda.com'>New York Code and Design Academy</a>, where I've spent weeks in an immersive enivronment, building apps and projects both individually and in small teams. In this program I learned Ruby, Rails, Javascript, jQuery, HTML, CSS and a slew of other technologies in a fast-paced, 12 week long course.
      </p>
    </div>
    <div class='row'>
      <h3 class='text-center'>Skills</h3>
    </div>
    <div class='row skillList'>
      <ul class='col-md-4 text-center'>
        <h4>Backend Technologies&nbsp;</h4>
        <li>Ruby</li>
        <li>Sinatra</li>
        <li>Ruby-on-Rails</li>
        <li>SQLite3</li>
        <li>PostgreSQL</li>
        <li>ActiveRecord</li>
      </ul>
      <ul class='col-md-4 text-center'>
        <h4>Frontend Technologies</h4>
        <li>HTML 5</li>
        <li>CSS 3</li>
        <li>SCSS</li>
        <li>Javascript</li>
        <li>jQuery</li>
        <li>AJAX</li>
        <li>Bootstrap</li>
      </ul>
      <ul class='col-md-4 text-center'>
        <h4>Other Technologies</h4>
        <li>Git</li>
        <li>GitHub</li>
        <li>Vim</li>
        <li>Sublime</li>
        <li>Photoshop</li>
        <li>Capture One</li>
      </ul>
    </div>
  </div>
</div>