<!DOCTYPE html>
<html>
  <head>
  <%=erb :head%>
  </head>
  <body>
    <%= erb :navbar %>
    <div class="social">
      <%= erb :social %>
    </div>
    <div class="container">
      <%=yield%>
    </div>
  </body>
</html>
