<div class='row col-md-12'>
  <div class='well'>
    <div class='row text-center'>
      Project Index Here:
    </div>
    <div class='row'>
      <div class='col-md-6 text-center'>
        Image of Product
      </div>
      <div class='col-md-6 text-center'>
        Technologies included in Product
      </div>
    </div>
  </div>
</div>