<div class='row col-md-12'>
  <div id='resume' class='row text-center'>
    <object width="800" height="1085" type="application/pdf" data="/resume.pdf" id="pdf_content">
      <p>Insert your error message here, if the PDF cannot be displayed.</p>
    </object>
  </div>
</div>
