<a class='socialRoll'  href="https://www.github.com/mattcosta7" target="_blank">
  <i class="fa fa-github"></i><span class='socialtext'>GitHub</span>
</a><br>

<a class='socialRoll' href="https://www.linkedin.com/in/costabilematthew" target="_blank">
  <i class="fa fa-linkedin-square"></i><span class='socialtext'>Linkedin</span>
</a><br>

<a class='socialRoll' href="https://www.500px.com/matthewcostabile" target="_blank">
  <i class="fa fa-500px"></i><span class='socialtext'>500px</span>
</a><br>

<a class='socialRoll'  href="http://www.flickr.com/photos/matthewcostabile/" target="_blank">
  <i class="fa fa-flickr"></i><span class='socialtext'>Flickr</span>
</a><br>

<a class='socialRoll' href="http://www.facebook.com/matthewcostabilephotographer" target="_blank">
  <i class="fa fa-facebook-square"></i><span class='socialtext'>Facebook</span>
</a><br>

<a class='socialRoll'  href="http://www.instagram.com/mattcosta7" target="_blank">  
  <i class="fa fa-instagram"></i><span class='socialtext'>Instagram</span>
</a><br>

<a class='socialRoll'  href="mailto:matt@mattc.io">
  <i class="fa fa-envelope"></i><span class='socialtext'>Email Me</span>
</a>
