<a class='socialRoll'  href="https://www.github.com/mattcosta7" target="_blank">
  <img src="/GitHub-Mark.jpg"><span class='socialtext'>GitHub</span>
</a><br>

<a class='socialRoll' href="https://www.linkedin.com/in/costabilematthew" target="_blank">
  <img src="/linkedin_icon.jpg"><span class='socialtext'>Linkedin</span>
</a><br>

<a class='socialRoll' href="https://www.500px.com/matthewcostabile" target="_blank">
  <img src="/500px_logo_mark_detail.jpg"><span class='socialtext'>500px</span>
</a><br>

<a class='socialRoll'  href="http://www.flickr.com/photos/matthewcostabile/" target="_blank">
  <img src="/Flickr.jpg"><span class='socialtext'>Flickr</span>
</a><br>

<a class='socialRoll' href="http://www.facebook.com/matthewcostabilephotographer" target="_blank">
  <img src="/fblogo.jpg"><span class='socialtext'>Facebook</span>
</a><br>

<a class='socialRoll'  href="http://www.instagram.com/mattcosta7" target="_blank">  
  <img src="/insta_logo.jpg"><span class='socialtext'>Instagram</span>
</a><br>

<a class='socialRoll'  href="mailto:matt@mattc.io">
  <img src='/email.png'><span class='socialtext'>Email Me</span>
</a>
