    <div class='row'>
      <div class='row text-center'>
        <h3>
          <a href='https://bootleg-tumblr.herokuapp.com/' target="_blank">
            Bootlegger
          </a>
        </h3>
      </div>
      <div class='col-md-6 text-justify projectslist'>
        <p class='text-justify'>
          Rails-based social media site, designed for bootleggers.<br>  Users can make posts, comment on posts, upload avatars. Users are also able to follow others, and view other users’ posts. Users can upload avatars using a custom image uploader function.
        </p>
        <h4><a href="https://github.com/mattcosta7/KnockoffTumbler" target="_blank">View On GitHub</a></h4>
      </div>
      <div class='col-md-6 text-center'>
        <a href='https://bootleg-tumblr.herokuapp.com/' target="_blank"><img class='project' src='/bootlegger.png'></a>
      </div>
    </div>