    <div class='row'>
      <div class='row text-center'>
        <h3>
          <a href='https://bootleg-tumblr.herokuapp.com/' target="_blank">
            Bootlegger
          </a>
        </h3>
      </div>
      <div class='col-md-6 text-center projectslist'>
        <ul>
          <li>This is a Tumbler Type Blogging App</li>
          <li>Built on the MVC Framework - Ruby-on-Rails</li>
          <li>Users Can:</li>
          <ul>
            <li>Sign In</li>
            <li>View Their Posts</li>
            <li>View All User's Posts</li>
            <li>Edit/Destroy Their Posts</li>
            <li>Upload New Avatar Images</li>
            <li>Follow/Unfollow Other Users</li>
            <li>View Lists of Users They Follow/Follow Them</li>
          </ul>
          <h4><a href="https://github.com/mattcosta7/KnockoffTumbler" target="_blank">View On GitHub</a></h4>
        </ul>
      </div>
      <div class='col-md-6 text-center'>
        <a href='https://bootleg-tumblr.herokuapp.com/' target="_blank"><img class='project' src='/bootlegger.png'></a>
      </div>
    </div>