<div class='row'>
  <div class='row text-center'>
    <h3>
      <a href='https://daily-constitutional.herokuapp.com/' target="_blank">
        Daily Constitutional
      </a>
    </h3>
  </div>
  <div class='col-md-6  col-lg-push-6 text-center'>
    <a href='https://daily-constitutional.herokuapp.com/' target="_blank"><img class='project' src='/dailyC.png'></a>
  </div>
  <div class='col-md-6 col-lg-pull-6 text-justify projectslist'>
    <p class='text-justify'>
      Rails-based app that provides a simple user interface for reading articles from RSS feeds, by parsing XHTML. Users can star articles as favorites for reading later. Up-to-date weather and train status are displayed in a sidebar, along with a to-do list, so users can have quick access to important daily information on one page
    </p>
    <h4><a href="https://github.com/mattcosta7/daily-constitutional" target="_blank">View On GitHub</a></h4>
    </ul>
  </div>
</div>
