    <div class='row'>
      <div class='row text-center'>
        <h3>
          <a href='https://daily-constitutional.herokuapp.com/' target="_blank">
            Daily Constitutional
          </a>
        </h3>
      </div>
      <div class='col-md-6 text-center'>
        <a href='https://daily-constitutional.herokuapp.com/' target="_blank"><img class='project' src='/dailyC.png'></a>
      </div>
      <div class='col-md-6 text-center projectslist'>
        <ul>
          <li>
            A Rails based News/Article (RSS) Aggregation Site
          </li>
          <li>
            Users can:
            <ul>
              <li>Add categorized RSS feeds to their feed, utilizing the Feedjira Gem and Nokogiri to parse feeds</li>
              <li>Feeds are displayed Newest to Oldest, and updated through a server side script</li>
              <li>IP is used to determine where a user logs in from to auto-populate weather and metro statuses, utilizing the Weather Underground API and Nokogiri gems</li>
              <li>Star feeds for later reading, which persist even if a user removes the feed from their page</li>
              <li>Users can view all of the posts from a single feed, or from a category by making the appropriate selections</li>
              <li>Users can also add items to a 'To Do' list, which they can cross off or delete later</li>
          </li>

          </ul>
          <h4><a href="https://github.com/mattcosta7/daily-constitutional" target="_blank">View On GitHub</a></h4>
        </ul>
      </div>
    </div>