    <div class='row'>
      <div class='row text-center'>
        <h3>
          <a href='https://deeperlearning.herokuapp.com/' target="_blank">
            Deeper Learning
          </a>
        </h3>
      </div>
      <div class='col-md-6 text-center projectslist'>
        <ul>
          <li>A Rails App Designed To Assist Young Coders with learning Programming, in a fun, interactive manner</li>
          <li>Users can take courses to learn programming language skills</li>
          <li>An In Browser text-editor is made available, along with an inclusive interactive linter, through the ACE-Editor Javascript Library</li>
          <li>Interact with other users through a chat, powered by the Twilio IP Messaging API</li>
          <li>Users can search for, and find mentors in their area. Location data is translated from location names to Latitude and Longitude via the Geocoder Gem (which also calculates distances).</li> 
          <li>Users are able to view a map of other users in their region utilizing the Google Maps API</li>
          </ul>
          <h4><a href="https://github.com/mattcosta7/deeperLearning" target="_blank">View On GitHub</a></h4>
        </ul>
      </div>
      <div class='col-md-6 text-center'>
        <a href="https://deeperlearning.herokuapp.com/" target="_blank"><img class='project' src='/deeperLearning.png'></a>
      </div>
    </div>