    <div class='row'>
      <div class='row text-center'>
        <h3>
          <a href='http://nycda.zone/matthew591/jukebox/' target="_blank">
            Javascript Jukebox
          </a>
        </h3>
      </div>
      <div class='col-md-6 text-center'>
        <a href='http://nycda.zone/matthew591/jukebox/' target="_blank"><img class='project' src='/jukebox.png'></a>
      </div>
      <div class='col-md-6 text-center projectslist'>
        <ul>
          <li>
            An Object-Oriented Javascript Based Jukebox
          </li>
          <li>
            Users can:
            <ul>
              <li>Add Songs</li>
              <li>View Upcoming Songs</li>
              <li>Skip ahead or behind 100seconds</li>
              <li>Users Can Add Songs, via a URL upload form</li>
              <li>Rotation of record occurs as song plays</li>
          </li>

          </ul>
          <h4><a href="https://github.com/mattcosta7/jukebox-player" target="_blank">View On GitHub</a></h4>
        </ul>
      </div>
    </div>