<div class='row'>
  <div class='row text-center'>
    <h3>
      <a href='http://nycda.zone/matthew591/jukebox/' target="_blank">
        Javascript Jukebox
      </a>
    </h3>
  </div>
  <div class='col-md-6 text-center'>
    <a href='http://nycda.zone/matthew591/jukebox/' target="_blank"><img class='project' src='/jukebox.png'></a>
  </div>
  <div class='col-md-6 text-justify projectslist'>
    <p class='text-justify'>
      A JavaScript based, Object Oriented Music Player<br>
      Comes preloaded with 3 songs, but more can be added via url. As the song plays, the record spins, using CSS animations.
    </p>
      <h4><a href="https://github.com/mattcosta7/jukebox-player" target="_blank">View On GitHub</a></h4>
  </div>
</div>