<div class='row'>
  <div class='row text-center'>
    <h3>
      <a href='https://map-my-route.herokuapp.com/' target="_blank">
        Map My Route
      </a>
    </h3>
  </div>
  <div class='col-md-6 col-lg-push-6 text-center'>
    <a href='https://map-my-route.herokuapp.com/' target="_blank"><img class='project' src='/MapMyRoute.png'></a>
  </div>
  <div class='col-md-6 col-lg-pull-6 text-justify projectslist'>
    <p class='text-justify'>
      A Route Mapping Tool<br>
      Users can search for a route between an Origin and Destination Location, through 0-8 waypoints. The waypoints can automatically be optimized for most efficiency, or left in the order given. A Locator can be placed at a given point from the origin by distance, to mark progress.
    </p>
      <h4><a href="https://github.com/mattcosta7/map_route" target="_blank">View On GitHub</a></h4>
  </div>
</div>
