<div class='row'>
  <div class='row text-center'>
    <h3>
      <a href='https://pickup-game-mapper.herokuapp.com/' target="_blank">
        Game Aggregator
      </a>
    </h3>
  </div>
  <div class='col-md-6 text-center'>
    <a href='https://pickup-game-mapper.herokuapp.com/' target="_blank"><img class='project' src='/mapper.png'></a>
  </div>
  <div class='col-md-6 text-justify projectslist'>
    <p class='text-justify'>
      A Pickup Game Aggregator<br>
      Users can plot games by time and location, join games, and receive a text message reminder 1 hour before each game they are attending
    </p>
      <h4><a href="https://github.com/mattcosta7/game-mapper" target="_blank">View On GitHub</a></h4>
  </div>
</div>
