<div class='row'>
  <div class='row text-center'>
    <h3>
      <a href='https://not-twitter-dont-sue.herokuapp.com/' target="_blank">
        notTwitter
      </a>
    </h3>
  </div>
  <div class='col-md-6 text-center'>
    <a href='https://not-twitter-dont-sue.herokuapp.com/' target="_blank"><img id="notTwitter" class='project' src='/notTwitter.png'></a>
  </div>
  <div class='col-md-6 text-justify projectslist'>
    <p class='text-justify'>
      Blogging App Built on the Sinatra Framwork.<br>
      Users Can post microblogs, view the microblogs of all users, follow users, and upload custom avatars
    </p>
      <h4><a href="https://github.com/mattcosta7/microBlog" target="_blank">View On GitHub</a></h4>
  </div>
</div>