<div class='row'>
      <div class='row text-center'>
        <h3>
          <a href='https://aqueous-beyond-5070.herokuapp.com/' target="_blank">
            notTwitter
          </a>
        </h3>
      </div>
      <div class='col-md-6 text-center'>
        <a href='https://aqueous-beyond-5070.herokuapp.com/' target="_blank"><img id="notTwitter" class='project' src='/notTwitter.png'></a>
      </div>
      <div class='col-md-6 text-center projectslist'>
        <ul class='text-center'>
          <li>This is a Twitter Type Blogging App</li>
          <li>Built on the Lightweight Framework - Sinatra</li>
          <li>Users Can:</li>
          <ul>
            <li>Sign In</li>
            <li>View Their Posts</li>
            <li>View All User's Posts</li>
            <li>Edit/Destroy Their Posts</li>
            <li>Upload New Avatar Images</li>
            <li>Follow/Unfollow Other Users</li>
            <li>View Lists of Users They Follow/Follow Them</li>
          </ul>
          <h4><a href="https://github.com/mattcosta7/microBlog" target="_blank">View On GitHub</a></h4>
        </ul>
      </div>
    </div>