<div class='row'>
      <div class='row text-center'>
        <h3><a href='http://pure-forest-1107.herokuapp.com/' target="_blank">Ruby/Sinatra To Do List</a></h3>
      </div>
      <div class='col-md-6 text-center projectslist'>
        <ul>
          <li>This is a Ruby/Sinatra and jQuery based To Do List</li>
          <li>Styling is done through CSS and HTML</li>
          <li>Error and Confirmation Messages are Handled using Modal Popups</li>
          <li>The Layout is Responsive to fit many sizes and devices</li>
          <li>Users Can Sign Up, Access Their Accounts, View Only Their List</li>
          <li>Lists are Stored in An ActiveRecord Database, built in Postgres</li>
          <h4><a href="https://github.com/mattcosta7/toDoListSinatra">View On GitHub</a></h4>
        </ul>
      </div>
      <div class='col-md-6 text-center'>
        <img class='project' src='/rubyToDo.png'>
      </div>
    </div>