    <div class='row'>
      <div class='row text-center'>
        <h3><a href='http://nycda.zone/matthew591/toDoList/index.html'>Javascript To Do List</a></h3>
      </div>
      <div class='col-md-6 text-center projectslist'>
        <ul>
          <li>This is a Javascript and jQuery based To Do List</li>
          <li>Styling is done through CSS and HTML</li>
          <li>Error and Confirmation Messages are Handled using Modal Popups</li>
          <li>The Layout is Responsive to fit many sizes and devices</li>
          <h4><a href="https://github.com/mattcosta7/modal">View On GitHub</a></h4>
        </ul>
      </div>
      <div class='col-md-6 text-center'>
        <img class='project' src='/jsToDo.png'>
      </div>
    </div>