<div class='row'>
  <div class='row text-center'>
    <h3><a href='http://nycda.zone/matthew591/toDoList/index.html' target="_blank">Javascript To Do List</a></h3>
  </div>
  <div class='col-md-6 text-justify projectslist'>
    <p class='text-justify'>
      
      <h4><a href="https://github.com/mattcosta7/modal">View On GitHub</a></h4>
    </ul>
  </div>
  <div class='col-md-6 text-center'>
    <a href='http://nycda.zone/matthew591/toDoList/index.html' target="_blank"><img class='project' src='/jsToDo.png'></a>
  </div>
</div>