<div class='row'>
  <div class='row text-center'>
    <h3><a href='http://sinatra-todo-list.herokuapp.com/' target="_blank">Ruby/Sinatra To Do List</a></h3>
  </div>
  <div class='col-md-6 text-justify projectslist'>
    <p class='text-justify'>
      A To Do list app built on the Sinatra Framework<br>
      Users can add a single item or multiple items separated by commas<br>
      Remove items from the list<br>
      Change the "Notes" header to a custom name<br>
      Click on an entry to color-code<br>
    </p>
      <h4><a href="https://github.com/mattcosta7/toDoListSinatra" target="_blank">View On GitHub</a></h4>
  </div>
  <div class='col-md-6 text-center'>
    <a href='http://sinatra-todo-list.herokuapp.com/' target="_blank"><img class='project' src='/rubyToDo.png'></a>
  </div>
</div>